

.details-comment-form-container {
    margin: 50px auto;
    background-color: transparent;

    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-self: center;
    flex-basis: 100%;
}

.comment-form {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    background-image: linear-gradient(
        to left top,
        #2a5a7c,
        #6460a0,
        #b7559e,
        #f44e6f,
        #fe761e
    );
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.comment-label,
.comment-label,
.comment-textarea {
    flex-basis: 100%;
}

.comment-label {
    text-align: center;
    color: var(--text-color);
}

.comment-textarea {
    align-self: flex-start;

    height: 100px;
    resize: none;
    border-radius: 7px;
    font-size: larger;
    color: var(--text-color);
    line-height: 28px;
    text-indent: 40px;
    padding: 10px 10px 10px 10px;
    

    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background: rgba(225,225,225,0.2);
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.comment-textarea:hover {
    background: rgba(225,225,225,0.2);
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
        0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

::placeholder {
    color: #c9c9c99f;
}
.comment-label {
    font-size: large;
    font-weight: bold;
    height: 50px;
}

.comment-btn,
.delete-btn {
    line-height: 22px;
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    font-weight: bold;

    height: 45px;
    padding: 0 20px 0 20px;

    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.comment-btn:hover,
.anonymous-container:hover
,.delete-btn:hover {
    height: 45px;
    padding: 0 20px 0 20px;
    color: var(--homepage-quote-color);
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
        0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.details-comments-container {
    background-color: transparent;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.details-comments-container-inside-wrapper {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;

    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.comments-wrapper-title {
    color: #c9c9c9;
    font-size: large;
}

.anonymous-container {
    display: flex;

    align-items: center;
    line-height: 22px;
    text-decoration: none;

    font-size: large;
    font-weight: bold;

    height: 45px;
    padding: 0 20px 0 20px;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.anonymous-container label {
    margin-left: 10px;
}

.anonymous-container input[type="checkbox"] {
    vertical-align: middle;
    width: 22px;
    height: 22px;
}
