.header-box {
    background-color: var(--header-background-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.logo-link {
    cursor: pointer;
    height: 60px;
    list-style: none;
}

.logo-box li img {
    height: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-links-box {
    display: flex;
    gap: 1px;
    align-items: center;
}

.main-links-box li {
    border: 1px solid transparent;
    color: var(--text-color);
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
}

.main-links-box li a {
    text-decoration: none !important;
}

.main-links-box li:hover {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
        0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.red-exclamation-point {
    color: var(--homepage-quote-color);
}

.active-link {
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--homepage-quote-color);
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;

    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.non-active-link {
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-color);
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 4px 2px 3px #2c2828;
}

/* MOBILE MENU BUTTON */

.header-hamburger {
    position: relative;
    display: none;
    width: 35px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-hamburger .hamburger-bar,
.header-hamburger:after,
.header-hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.header-hamburger.is-active:before {
    transform: rotate(-45deg) translate(-11px, 9px);
    background-color: rgba(213, 127, 170, 0.95);
}

.header-hamburger.is-active:after {
    transform: rotate(45deg) translate(-7px, -4px);
    background-color: rgba(213, 127, 170, 0.95);
}

.header-hamburger.is-active .hamburger-bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    padding-top: 90px;
    
    top: 70px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 127, 170, 0.95);
    z-index: 1000;
    transition: ease-in 0.4s;
}

.mobile-nav.is-active {
    right: 0;
    display: block;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1.2px;
    font-weight: bold;
    background-color: #2A5A7C;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    text-align: center;
    padding: 12px 16px;
    color: #fff;
}

.mobile-nav a:hover {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
        0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Media query for smaller screens where button is displayed */
@media (max-width: 768px) {
    .header-hamburger {
        display: block;
    }

    .main-nav {
        justify-content: flex-end;
        gap: 20px;
    }

    .logo-box {
        margin-right: auto;
    }

    .main-links-box > li:not(:last-child) {
        display: none;
    }
}
