.quote-card {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
    color: var(--text-color);
    width: 400px;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    letter-spacing: 0.5px;
    font-size: 18px;
}

.quote-card:hover {
    background-color: #c9c9c9;
    color: #121212;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
        0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
    transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.quote-card:hover a {
    
    color: #121212;
}

.quote-bottom-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    align-self: flex-end;
}

.quote-text,
.quote-author {
    flex-basis: 100%;
    padding-top: 13px;
}

.quote-author a{
    color: var(--text-color);
    align-self: flex-start;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.quote-author a:hover{
    color: var(--highlight-red-color) ;
    align-self: flex-start;
    


}

.quote-text {
    align-self: flex-start;
}

.quote-details-link {
    text-decoration: none;

    align-self: flex-end;

    margin: 0 auto;
    line-height: 42px;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    padding: 0 40px 0 40px;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.quote-details-link:hover {
    color: #121212;
    height: 45px;
    padding: 0 40px 0 40px;

    color: var(--highlight-red-color) !important;
    box-shadow: 0 0 1px #273b0f62, 0 0 5px #5a941862, 0 0 5px #d7e46177,
        0 0 1px #5a941862, 0 0 10px #5a941862, inset 0 0 15px #27460462;
    transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}


@media (max-width: 768px) {

    .quote-card {
        height: auto;
    }

}
